{% extends "layouts/app.html" %}

{% block title %}Create account{% endblock %}

{% block app_content %}
<div class="flex flex-col items-center justify-center h-[calc(100vh-65px)]">
  <div class="w-full max-w-xs space-y-6">
    <h2 class="h2 text-center">Create an account</h2>
    <section
      class="grid gap-4"
      x-data="{ loading: null }"
    >
      {% include "auth/partials/_form-signup.html" %}
      <p class="text-center text-sm text-muted-foreground">
        {{ _("Already have an account?") }}
        <a href="{{ url_for('auth_password_login') }}" class="underline underline-offset-4 hover:text-foreground">{{ _("Sign in") }}</a>
      </p>
    </section>
  </div>
</div>
{% endblock %}
